.container {
    width: 100vh;
    position: relative;
    left: 40px;
    top: 110px;
    z-index: -1;
}

iframe {
    border-radius: 10px;
    border: none;
}

h3 {
    margin: 5px 0px;
}

.channel {
    width: 930px;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channelDetail {
    display: flex;
    gap: 20px;
}

.channelDetail img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    top: 8px;
}

.channelDetail p:nth-child(1) {
    font-weight: 500;
    margin: 3px 0px;
}

.channelDetail p:nth-child(2) {
    color: #aaa;
    font-size: 12px;
    margin: 0px;
}

.channelDetail button {
    margin: 10px 5px;
}

.channelDetail button:nth-child(1) {
    color: #383838;
    background: #fff;
}

.channelStatistics {
    display: flex;
    gap: 7px;
}

.button .btn:nth-child(1) {
    border-radius: 19px 0px 0px 19px;
    border-right: 1px solid #7a7a7a7d;
}

.button .btn:nth-child(2) {
    border-radius: 0px 19px 19px 0px;
}

.btn {
    font-size: 12px;
    font-weight: 600;
    background: #383838;
    color: white;
    border: none;
    padding: 7px 15px 10px 15px;
    border-radius: 19px;
    cursor: pointer;

}

.btn:hover {
    background: #ffffff4e;
    transition: 0.2s;
}

.description {
    width: 930px;
    padding: 10px 15px;
    margin: 20px 0px;
    font-size: 13px;
    text-overflow: ellipsis;
    background-color: #383838;
    border-radius: 7px;
}

.description span {
    font-size: 12px;
}

.description span:nth-child(3) {
    color: #aaa;
}

.comments {
    margin: 10px 0px;
}

.comment {
    width: 930px;
    font-size: 12px;
    margin-bottom: 30px;
    display: flex;
    gap: 15px;
}

.comment span:nth-child(2) {
    margin-left: 5px;
    color: #aaa;
}

.comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .container {
        width: 89vw;
        position: relative;
        left: 20px;
        top: 60px;
        z-index: -1;
    }

    iframe {
        width: 330px;
        height: 14rem;
        border-radius: 10px;
        border: none;
    }

    .channel {
        width: 341px;
        height: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .channelDetail {
        display: flex;
        gap: 20px;
    }

    .channelDetail button {
        margin: 10px 15px;
    }

    .channelStatistics {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }

    .description {
        width: 290px;
    }

    .comments h4{
        padding: 10px 15px;
        background-color: #383838;
        border-radius: 5px;
    }

    .comment {
        width: 325px;
        font-size: 12px;
        margin-bottom: 30px;
        display: none;
        gap: 15px;
    }
}